@{
    ViewData["Title"] = "Home Page";
}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top bg-light">
    <div class="container d-flex align-items-center">

        @*<h1 class="logo me-auto"><a href="index.html">Rich-Graphics</a></h1>*@
        <!-- Uncomment below if you prefer to use an image logo -->
        <a asp-action="Index" asp-controller="Home" class="logo me-auto"><img src="~/img/logo/newLogo.png" alt="" class="img-fluid">Rich Graphics</a>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active text-primary" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto text-primary" href="#about">About</a></li>
                <li><a class="nav-link scrollto text-primary" href="#services">Services</a></li>
                <li><a class="nav-link   scrollto text-primary" href="#portfolio">Portfolio</a></li>
                <li><a class="nav-link scrollto text-primary" href="#contact">Contact</a></li>
                <li><a class="nav-link scrollto text-primary" href="#yourmessage">Message Us</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center bg-success">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                <h1>Better Solutions For Your Business!</h1>
                <h2>We are team of talented designers making your brand outstanding</h2>
                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a href="#about" class="btn-get-started scrollto">Get Started</a>
                    @* <a href="https://www.youtube.com/raigdanamasonwowhor" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>*@
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="~/img/bouncingImg.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->

<main id="main">

    <!-- ======= Cliens Section ======= -->
    <section id="cliens" class="cliens section-bg">
        <div class="container">

            <div class="row" data-aos="zoom-in">
                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="~/img/clients/client-6.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="~/img/clients/client-1.jpg" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="~/img/clients/client-2.jpg" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="~/img/clients/nclient-3.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="~/img/clients/nclient-4.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="~/img/clients/client-5.jpg" class="img-fluid" alt="">
                </div>



            </div>

        </div>
    </section><!-- End Cliens Section -->
    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>About Us</h2>
            </div>

            <div class="row content">
                <div class="col-lg-6">
                    <p>
                        Rich Graphics is a professional designer of choice with diverse experty.
                    </p>
                    <p>Our design is the craft of planning and creating virtual content to communicate ideas and messages.</p>
                    <ul>
                        <li><i class="ri-check-double-fill"></i>Our aim is to connect clients with companies all over the globe</li>
                        <li><i class="ri-check-double-line"></i> We bring virtual concepts to live, most commonly through graphics design.</li>

                    </ul>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <p>
                        We inform or engage customers through text, graphics and images.
                    </p>
                    <a href="#" class="btn-learn-more">Learn More</a>
                </div>
            </div>

        </div>
    </section><!-- End About Us Section -->
    <!-- #region Not needed now -->
    <!-- ======= Why Us Section ======= -->
    @*<section id="why-us" class="why-us section-bg">
            <div class="container-fluid" data-aos="fade-up">

                <div class="row">

                    <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

                        <div class="content">
                            <h3>Eum ipsam laborum deleniti <strong>velit pariatur architecto aut nihil</strong></h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                            </p>
                        </div>

                        <div class="accordion-list">
                            <ul>
                                <li>
                                    <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span> Non consectetur a erat nam at lectus urna duis? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                                    <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                                        <p>
                                            Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                                        </p>
                                    </div>
                                </li>

                                <li>
                                    <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span> Feugiat scelerisque varius morbi enim nunc? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                                    <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                                        <p>
                                            Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                                        </p>
                                    </div>
                                </li>

                                <li>
                                    <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span> Dolor sit amet consectetur adipiscing elit? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                                    <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                                        <p>
                                            Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                                        </p>
                                    </div>
                                </li>

                            </ul>
                        </div>

                    </div>

                    <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url('../img/why-us.png');' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
                </div>

            </div>
        </section>*@<!-- End Why Us Section -->
    <!-- #endregion -->
    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
                    <img src="~/img/skills.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
                    <h3>Why You Need Our Services</h3>
                    @*<p class="fst-italic">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua.
                        </p>*@

                    <div class="skills-content">

                        <div class="progress">
                            <span class="skill">Work Done <i class="val">99%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">Happy Clients<i class="val">85%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">Quick Response <i class="val">90%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">Issues Solved <i class="val">90%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </section><!-- End Skills Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Our Services</h2>
                @*<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>*@
            </div>

            <div class="row">
                <div class="col-xl-3 col-md-6 d-flex align-items-stretch bg-primary" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <p> <h4>Graphics Design Services</h4></p>
                        <ul style="list-style:none">
                            <li><i class="ri-check-double-fill text-primary"></i> Logo</li>
                            <li><i class="ri-check-double-fill text-primary"></i> Flyer</li>
                            <li><i class="ri-check-double-fill text-primary"></i> Cards</li>
                            <li><i class="ri-check-double-fill text-primary"></i> Banner</li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="ri-instagram-fill"></i></div>
                        <h4>Instagram Management</h4>
                        <ul style="list-style:none">
                            <li><i class="ri-check-double-fill text-primary"></i> Boosting of likes</li>
                            <li><i class="ri-check-double-fill text-primary"></i> Boosting of views</li>
                            <li><i class="ri-check-double-fill text-primary"></i>Boosting of followers </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 bg-primary" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="ri-advertisement-fill"></i></div>
                        <h4>Digital Marketing</h4>
                        <p><i class="ri-check-double-fill text-primary"></i> We exist to market your brand across the globe</p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-layer"></i></div>
                        <h4>Consultant</h4>
                        <p><i class="ri-check-double-fill text-primary"></i> Consult us in any areas of your need for our assistance at our reach</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Services Section -->
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Portfolio</h2>
            </div>

            @*<ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-app">App</li>
                    <li data-filter=".filter-card">Card</li>
                    <li data-filter=".filter-web">Web</li>
                </ul>*@

            <div class="row portfolio-container portfolio" data-aos="fade-up" data-aos-delay="200">

                <div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-img"><img src="~/img/portfolio/newPortfolio1.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            @*<h4>App 1</h4>
                <p>App</p>*@
                            <a href="/img/portfolio/newPortfolio1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
                            @*<a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>*@
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-img"><img src="~/img/portfolio/newPortfolio2.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            @*<h4>Web 3</h4>
                <p>Web</p>*@
                            <a href="/img/portfolio/newPortfolio2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
                            @*  <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>*@
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-img"><img src="~/img/portfolio/newPortfolio5.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            @*<h4>Web 3</h4>
                <p>Web</p>*@
                            <a href="/img/portfolio/newPortfolio5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
                            @*  <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>*@
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-img"><img src="~/img/portfolio/newPortfolio6.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            @*<h4>Web 3</h4>
                <p>Web</p>*@
                            <a href="/img/portfolio/newPortfolio6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
                            @*  <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>*@
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-img"><img src="~/img/portfolio/newPortfolio10.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            @*<h4>App 2</h4>
                <p>App</p>*@
                            <a href="/img/portfolio/newPortfolio10.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
                            @*<a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>*@
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-img"><img src="/img/portfolio/newPortfolio12.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            @*<h4>Card 2</h4>
                <p>Card</p>*@
                            <a href="/img/portfolio/newPortfolio12.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
                            @*<a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>*@
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-img"><img src="~/img/portfolio/newPortfolio20.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            @*<h4>Web 2</h4>
                <p>Web</p>*@
                            <a href="/img/portfolio/newPortfolio20.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
                            @*<a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>*@
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-img"><img src="~/img/portfolio/newPortfolio14.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            @*<h4>App 3</h4>
                <p>App</p>*@
                            <a href="/img/portfolio/newPortfolio14.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
                            @*<a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>*@
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-img"><img src="~/img/portfolio/newPortfolio9.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            @*<h4>Card 1</h4>
                <p>Card</p>*@
                            <a href="/img/portfolio/newPortfolio9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
                            @*<a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>*@
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-img"><img src="~/img/portfolio/newPortfolio4.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            @*<h4>Card 3</h4>
                <p>Card</p>*@
                            <a href="/img/portfolio/newPortfolio4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
                            @*<a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>*@
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-img"><img src="~/img/portfolio/newPortfolio8.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            @*<h4>Web 3</h4>
                <p>Web</p>*@
                            <a href="/img/portfolio/newPortfolio8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
                            @* <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>*@
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-img"><img src="~/img/portfolio/newPortfolio7.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            @*<h4>Web 3</h4>
                <p>Web</p>*@
                            <a href="/img/portfolio/newPortfolio7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
                            @* <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>*@
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-img"><img src="~/img/portfolio/newPortfolio19.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            @*<h4>Web 3</h4>
                <p>Web</p>*@
                            <a href="/img/portfolio/newPortfolio19.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
                            @* <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>*@
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-img"><img src="~/img/portfolio/portfolio1.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            @*<h4>App 1</h4>
                <p>App</p>*@
                            <a href="/img/portfolio/portfolio3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
                            @*<a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>*@
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-img"><img src="~/img/portfolio/portfolio2.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            @*<h4>Web 3</h4>
                <p>Web</p>*@
                            <a href="/img/portfolio/portfolio1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
                            @*  <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>*@
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-img"><img src="~/img/portfolio/portfolio3.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            @*<h4>App 2</h4>
                <p>App</p>*@
                            <a href="/img/portfolio/portfolio2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
                            @*<a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>*@
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-img"><img src="/img/portfolio/portfolio4.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            @*<h4>Card 2</h4>
                <p>Card</p>*@
                            <a href="/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
                            @*<a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>*@
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-img"><img src="~/img/portfolio/portfolio5.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            @*<h4>Web 2</h4>
                <p>Web</p>*@
                            <a href="/img/portfolio/portfolio4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
                            @*<a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>*@
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-img"><img src="~/img/portfolio/portfolio6.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            @*<h4>App 3</h4>
                <p>App</p>*@
                            <a href="/img/portfolio/portfolio9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
                            @*<a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>*@
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-img"><img src="~/img/portfolio/portfolio-7.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            @*<h4>Card 1</h4>
                <p>Card</p>*@
                            <a href="/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
                            @*<a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>*@
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-img"><img src="~/img/portfolio/portfolio8.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            @*<h4>Card 3</h4>
                <p>Card</p>*@
                            <a href="/img/portfolio/portfolio8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
                            @*<a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>*@
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-img"><img src="~/img/portfolio/portfolio9.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            @*<h4>Web 3</h4>
                <p>Web</p>*@
                            <a href="/img/portfolio/portfolio9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
                            @* <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>*@
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Section -->
    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Team</h2>

            </div>

            <div class="row justify-content-center">

                <div class="col-lg-6">
                    <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
                        <div class="pic"><img src="~/img/team/team1.jpg" class="img-fluid" alt=""></div>
                        <p>I am a trained professional graphic designer of choice, I work with passion to achieve my clients goals.</p>
                        <div class="member-info">
                            <h4>Raigdan Amason</h4>
                            <span>CEO</span>
                            @* <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>*@
                            <div class="social">
                                @*<a href=""><i class="ri-twitter-fill"></i></a>*@
                                <a href="https://www.facebook.com/richardmandz"><i class="ri-facebook-fill"></i></a>
                                <a href="https://www.instagram.com/richykiss"><i class="ri-instagram-fill"></i></a>
                                @*<a href=""> <i class="ri-linkedin-box-fill"></i> </a>*@
                            </div>
                        </div>
                    </div>
                </div>

                @*<div class="col-lg-6 mt-4 mt-lg-0">
                        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
                            <div class="pic"><img src="~/img/team/team-2.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Sarah Jhonson</h4>
                                <span>Product Manager</span>
                                <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
                                <div class="social">
                                    <a href=""><i class="ri-twitter-fill"></i></a>
                                    <a href=""><i class="ri-facebook-fill"></i></a>
                                    <a href=""><i class="ri-instagram-fill"></i></a>
                                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mt-4">
                        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
                            <div class="pic"><img src="~/img/team/team-3.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>William Anderson</h4>
                                <span>CTO</span>
                                <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
                                <div class="social">
                                    <a href=""><i class="ri-twitter-fill"></i></a>
                                    <a href=""><i class="ri-facebook-fill"></i></a>
                                    <a href=""><i class="ri-instagram-fill"></i></a>
                                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mt-4">
                        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
                            <div class="pic"><img src="~/img/team/team-4.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Amanda Jepson</h4>
                                <span>Accountant</span>
                                <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
                                <div class="social">
                                    <a href=""><i class="ri-twitter-fill"></i></a>
                                    <a href=""><i class="ri-facebook-fill"></i></a>
                                    <a href=""><i class="ri-instagram-fill"></i></a>
                                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>*@

            </div>

        </div>
    </section><!-- End Team Section -->
    <!-- #region Not needed now -->
    <!-- ======= Pricing Section ======= -->
    @*<section id="pricing" class="pricing">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Pricing</h2>
                    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
                </div>

                <div class="row">

                    <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                        <div class="box">
                            <h3>Free Plan</h3>
                            <h4><sup>$</sup>0<span>per month</span></h4>
                            <ul>
                                <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
                                <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
                                <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
                                <li class="na"><i class="bx bx-x"></i> <span>Pharetra massa massa ultricies</span></li>
                                <li class="na"><i class="bx bx-x"></i> <span>Massa ultricies mi quis hendrerit</span></li>
                            </ul>
                            <a href="#" class="buy-btn">Get Started</a>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
                        <div class="box featured">
                            <h3>Business Plan</h3>
                            <h4><sup>$</sup>29<span>per month</span></h4>
                            <ul>
                                <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
                                <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
                                <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
                                <li><i class="bx bx-check"></i> Pharetra massa massa ultricies</li>
                                <li><i class="bx bx-check"></i> Massa ultricies mi quis hendrerit</li>
                            </ul>
                            <a href="#" class="buy-btn">Get Started</a>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                        <div class="box">
                            <h3>Developer Plan</h3>
                            <h4><sup>$</sup>49<span>per month</span></h4>
                            <ul>
                                <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
                                <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
                                <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
                                <li><i class="bx bx-check"></i> Pharetra massa massa ultricies</li>
                                <li><i class="bx bx-check"></i> Massa ultricies mi quis hendrerit</li>
                            </ul>
                            <a href="#" class="buy-btn">Get Started</a>
                        </div>
                    </div>

                </div>

            </div>
        </section>*@<!-- End Pricing Section -->
    <!-- #endregion -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container justify-content-center" data-aos="fade-up">

            <div class="section-title">
                <h2>Contact</h2>
            </div>


            <div class="row  lign-items-stretch">
                <div class="col-lg-10">
                    <div class="info justify-content-center">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Location:</h4>
                            <p>8A, Dr Ladi Alakija Avenue, Lekki Phase 1, Lagos</p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>richgraphics8@gmail.com</p>
                        </div>

                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Call:</h4>
                            <p class="bi-whatsapp">+2349062289692, +2348152181591 </p>
                        </div>

                    </div>
                </div>
                @*</div>*@



            </div>
        </div>

    </section><!-- End Contact Section -->
    @* section message us *@
    <section id="yourmessage">
        <div class=" container   section-title  col-lg-12  yourmessage">
            <br><br>
            <h2>Your Message</h2>
            <partial name="Yourmessage">

        </div>
    </section> @*End section message us*@
</main><!-- End #main -->
<!-- ======= Footer ======= -->
<footer id="footer">


    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>Address</h3>
                    <p>
                        8A, Dr Ladi Alakija Avenue,<br>
                        Lekki Phase 1, <br>
                        Lagos <br><br>
                        <strong>Phone:</strong>+2349062289692, +2348152181591 <br>
                        <strong>Email:</strong> richgraphics8@gmail.com<br>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#portfolio">Portfolio</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#services">Graphic Design</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#services">IG Management</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#services">Marketing</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#services">Consultant</a></li>

                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Social Networks</h4>
                    @*<p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>*@
                    <div class="social-links mt-3">
                        @* <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>*@
                        <a href="https://www.facebook.com/richardmandz" class="facebook"><i class="bx bxl-facebook"></i></a>
                        <a href="https://www.instagram.com/richykiss" class="instagram"><i class="bx bxl-instagram"></i></a>
                        @*   <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>*@
                        @* <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>*@
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>

<div class="container-fluid footer-bottom clearfix text-center bg-dark container-fluid">
    <div class="copyright">
        &copy; @DateTime.Now.Year <strong><span>RICH GRAPHICS</span></strong>.
    </div>
    <div class="credits">

        Develop by <a href="https://smartcode.azurewebsites.net">Smartcode Solutions</a>
    </div>



</div>